<h1>Instructions</h1>
<form action="/instructions" method="POST">
    <div>
        <label for="username"></label>
        <input type="text" id="Username" name="name" required>
    </div>
    <button type="submit">Upload</button>
</form>
<a href="/">Home</a>