<h1>Recipe Dashboard</h1>
<form action="/recipe" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="ingredients">Ingredients</label>
        <input type="text" id="ingredients" name="ingredients" required>
    </div>
    <button type="submit">Upload</button>
</form>
<a href="/">Home</a>