<h1>Recipe Dashboard</h1>
<h3>Separate each keyword, ingredient, and image using commas</h3>
<form action="/recipe" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="ingredients">Ingredients</label>
        <input type="text" id="ingredients" name="ingredients" required>
    </div>
    <div>
        <label for="keywords">Keywords</label>
        <input type="text" id="keywords" name="keywords" required>
    </div>
    <div>
        <label for="Images">Images</label>
        <input type="text" id="images" name="images" required>
    </div>
    <div>
        <label for="isDessert">Dessert?</label>
        <select name="isDessert" id="isDessert">
            <option value="1" name="dessert1">Yes</option>
            <option value="2" name="dessert2">No</option>
        </select>
    </div>
    <h2>Instructions</h2>   
    <div>
        <span>Step 1 </span><input type="text" id="instructions" name="instructions" required>
    </div>
    <button onclick="">Add Step</button>
    <br>
    <button type="submit">Upload</button>
</form>
<a href="/">Home</a>
<script src="/back-end/server/index.js" type="text/javascript"></script>