
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*TheNavigation*/
#logo{
    width: 100%;
}

#login {
    background-color: #2F4858;
    color: white;
    border: none;
}

.navbar {
    background-color: #57273F;
}

a.navbar-item:active {
    background-color: #57273F;
    color: white !important;
}

a.navbar-item:visited {
    background-color: #57273F;
    color: white !important;
}

/* navbar item hover color */
a.navbar-item:hover {
    background-color: #57273F;
    color: brown !important;
}

a.navbar-item:focus, a.navbar-item:focus-within{
    color: #343434;
}

.footer {
    padding: 1rem;
    background-color: #57273F;
}

#white-text{
    color: white;
}

#icons{
    padding-left: 20px;
}

.icon{
    font-size: 20px;
    margin-right: 5px;
}

/*HomeView*/
#home-title-hero{
    background-image: url('../public/tbonescaled.jpg');
    background-size: 150%;    
    background-color: rgba(0,0,0,.6);
    background-blend-mode: multiply;
    animation: pan-image 40s linear infinite, switch-image 40s linear infinite;                                                                                              
}

#home-mission-statement{
    background-image: url('../public/tartscaled.jpg');
    background-size: 105%;
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: multiply;

}

.homepage-title{
    font-size: 150px;
    font-weight: 700;
}

.mission-title{
    font-size: 75px;
    padding-top: 4%;
    font-weight: 700;
}

.mission{
    padding-top: 2%;
    line-height: 25px;
}

.mission-p{
    padding-bottom: 25px;
}

.homepage-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.homepage-container-2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.homepage-buttons{
    display: flex;
    background-color: rgb(87, 39, 63, 0.35);
    height: 5vh;
    color: white;
    border: 2px solid #57273F;
    transition: transform 0.25s;
}

.homepage-buttons:hover{
    transform: scale(1.1);
    border: 2px solid #57273F !important;
    color: white !important;
}

@keyframes pan-image{
    0%{
        background-position: 0% 0%;
    }

    50%{
        background-position: 0% 100%;
    }

    100%{
        background-position: 0% 0%;
    }
}

@keyframes switch-image{
    20%{ background-image: url('../public/tbonescaled.jpg');
    }
    25%{
        background-image: url('../public/noodlesscaled.jpg');
    }
    45%{
        background-image: url('../public/noodlesscaled.jpg');
    }
    50%{
        background-image: url('../public/steakscaled.jpg');
    }
    70%{
        background-image: url('../public/steakscaled.jpg');
    }
    75%{
        background-image: url('../public/macaroncoffeescaled.jpg');
    }
    95%{
        background-image: url('../public/macaroncoffeescaled.jpg');
    }
    100%{
        background-image: url('../public/tbonescaled.jpg');
    }
}

/*RecipeSelector*/
#recipe-group-selector{
    margin: auto; 
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
}

.card-recipe-selector{
    margin: 0 3rem;
}

.screen1{
    position: relative;
    display: flex;
    width: 350px;
    height: 80vh;
    border: 3px solid rgba(79, 34, 0, 0.8);
    aspect-ratio: 10/16;
    border-radius: 1rem;
    background-color: rgb(79, 34, 0, 0.15);
    overflow: hidden;
    transition: transform 0.5s, box-shadow 0.5s;
}

.screen1 > .screen1-image{
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1559054663-e8d23213f55c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    height: 100%;
    width: 100%;
    background-size: 140%;
    background-position: 95% 0%;
    filter: sepia(25%);
}

.screen2{
    position: relative;
    display: flex;
    width: 350px;
    height: 80vh;
    border: 3px solid rgb(79, 34, 0, 0.8);
    aspect-ratio: 10/16;
    border-radius: 1rem;
    background-color: rgb(79, 34, 0, 0.15);
    overflow: hidden;
    transition: transform 0.5s, box-shadow 0.5s;
}

.screen1:hover, .screen2:hover{
    transform: scale(1.05);
    box-shadow: rgba(87, 39, 63, 0.4) 5px 5px, 
    rgba(87, 39, 63, 0.3) 10px 10px, 
    rgba(87, 39, 63, 0.2) 15px 15px, 
    rgba(87, 39, 63, 0.1) 20px 20px, 
    rgba(87, 39, 63, 0.05) 25px 25px;
}

.screen2 > .screen2-image{
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1612240498936-65f5101365d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    height: 100%;
    width: 100%;
    background-size: 130%;
    background-position: 25% 40%;
    filter: sepia(25%);
}

.screen-overlay{
    position: absolute;
    background: linear-gradient(
        rgb(79, 34, 0, 0.15),
        rgb(79, 34, 0, 0.15) 3px,
        transparent 3px,
        transparent 9px 
    );
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0px;
    top: 0px;
    animation: pan-overlay 30s infinite linear
}

.screen-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
    margin: 1rem;
    z-index: 3;
    border: 1px solid rgb(79, 34, 0);
    border-radius: 0.6rem;
    color: rgb(255, 255, 255);
    font-size: 45px;
    flex-grow: 1;
}

@keyframes pan-overlay{
    from{
        background-position: 0% 0%;
    }
    
    to{
        background-position: 0% -100%;
    }
}

/*RecipeView*/
.recipe-container{
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr repeat(2, 2fr) 0.25fr 1.75fr;
    grid-template-rows: 0.5fr 3fr 1.5fr 1.5fr 0.5fr;
}

.profile-container{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.c-recipe{
    margin-top: 5%;
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
    background: #5A1F23;
    border-radius: 50%;
    border-width: 10px;
    border-color: #493453;
}

.recipe-username{
    font-size: 24px;
}

.recipe-pronouns{
    font-size: 18px;
}

.rating-container{
    display: grid;
    align-items: center;
    grid-column: 2/3;
    grid-row: 4/5;
}

.recipe-rating-header{
    display: flex;
    justify-self: center;
    align-self: flex-end;
    margin-top: 10%;
    font-size: 26px;
}

.heart-img{
    height: 25%;
    margin-left: 5px;
    width: 20%;
}

.heart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.recipe-box{
    position: relative;
    grid-row: 2/5;
    grid-column: 4/6;
}

.recipe-title{
    position: absolute;
}

.recipe-img{
    position: absolute;
    left: 47%;
    max-width: 50%;
    max-height: 35%;
    border-radius: 2rem;
}

/*Contact Page*/
#contact-hero{
    min-height: 32.23vh;
}

#contact-columns{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 50vh
}

.circle {
    width: 250px;
    height: 250px;
    background: #5A1F23;
    border-radius: 50%;
    border-width: 10px;
    border-color: #493453;
}

.circle img{
    width:inherit;
    height:inherit;
    position: absolute;
    clip-path: circle(49%); /** change value for amount of border around image, 50% for none */
    object-fit: cover;
  }

#contact-hero{
    background-color: #37405A !important;
}

#contact-container{
    width: 60%;
    background-color: #493453;
    margin-bottom: 50px;
}

.title{
    color: white;
}

#contact-us{
    background-color: #493453;
}


.contact-header{
    color: white;
}

.contact-info{
    color: white;
    padding-top: 5%;
    font-weight: 500;
    font-size: 30px;
}

#body{
    background-color: #37405A !important;
}

