@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*TheNavigation*/
#logo{
    width: 100%;
}

#login {
    background-color: green;
    color: white;
}

/* navbar item hover color */
a.navbar-item:hover {
    background-color: #fafafa;
    color: brown !important;
}

a.navbar-item:focus, a.navbar-item:focus-within{
    color: #343434;
}

.footer {
    padding: 1rem;
}


/*HomeView*/
#home-title-hero{
    background-image: url('../public/tbonescaled.jpg');
    background-size: 150%;    
    background-color: rgba(0,0,0,.6);
    background-blend-mode: multiply;
    animation: pan-image 40s linear infinite, switch-image 40s linear infinite;                                                                                              
}

#home-about-us{

}

.homepage-title{
    font-size: 150px;
    font-weight: 700;
    padding-bottom: 50px;
}

.homepage-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/*this code for the button animation is from https://ianlunn.github.io/Hover/*/
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.8s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
  
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    transform: translateY(-8px);
}

/*keyframes*/
@keyframes pan-image{
    0%{
        background-position: 0% 0%;
    }

    50%{
        background-position: 0% 100%;
    }

    100%{
        background-position: 0% 0%;
    }
}

@keyframes switch-image{
    20%{
        background-image: url('../public/tbonescaled.jpg');
    }
    25%{
        background-image: url('../public/noodlesscaled.jpg');
    }
    45%{
        background-image: url('../public/noodlesscaled.jpg');
    }
    50%{
        background-image: url('../public/steakscaled.jpg');
    }
    70%{
        background-image: url('../public/steakscaled.jpg');
    }
    75%{
        background-image: url('../public/macaroncoffeescaled.jpg');
    }
    95%{
        background-image: url('../public/macaroncoffeescaled.jpg');
    }
    100%{
        background-image: url('../public/tbonescaled.jpg');
    }
}





